// .borders{
//     --border-color: #ffd534;
//     --border-width: 3px 3px 3px 3px;
//     height: 55px;
//     // --background: #ff003c6e;
// }

.md .borders{
    // --border-color: #9Dc912;
    // --border-width: 3px 3px 3px 3px;
    height: 55px;
    border: 3px solid #ffd534;
    // --background: #ff003c6e;
}

.ios .borders{
    // --border-color: #9Dc912;
    // --border-width: 3px 3px 3px 3px;
    height: 55px;
    border: 3px solid #ffd534;
    padding-top: 2px;
    // --background: #ff003c6e;
}

.bg{
    --background: #1a1b1e;
}