<ion-tabs>

  <ion-tab-bar slot="bottom" class="forTabs">
    <ion-tab-button tab="tab1" class="firstTab">
      <ion-icon name="beer-outline"></ion-icon>
      <ion-label>Calculator</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="secondTab">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Past Sessions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="thirdTab">
      <ion-icon name="wine-outline"></ion-icon>
      <ion-label>Favourite Drinks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
