<ion-header style="border: 5px solid #9Dc912;">
  <ion-toolbar class="toolbar">
    <ion-title class="forFont" style="color:#9Dc912;">
      Quick-Tip
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../../assets/img/disclaimerGuide3.png"></ion-img>
  <ion-item style="border: 5px solid #eb445a;">
      <ion-title class="forFont" style="color:#eb445a;">
        Disclaimer
      </ion-title>
  </ion-item>
  <h6 style="text-align: center;font-size: 14px;">The results are computed using a formula based on alcohol pharmacokinetics research by E.M.P. Widmark. This formula tries to be as accurate as possible but it does not take into account advanced factors that may influence the BAC such as age, amount of food ingested (if any) and others. Note that the legal limit for driving a motor vehicle varies between countries or even between states. The most accurate method to measure the %BAC is by using a breathalyzer, this is a rough estimation. By pressing "I agree" and/or dismissing this disclaimer, you agree that you are solely responsible for your actions and not the developer of this app.</h6>
  <ion-button expand="block" class="close" (click)="dismiss()">I AGREE</ion-button>
</ion-content>
