.close{
    --background: #e0b615;
}

.ios ion-button{
    --color: white;
}

.toolbar{
    --background: #3f3e3e00; //ff003cd9 e71989
}

.forFont{
    // font-style: cursive;
    // font-size: 100%;
    font-family: 'Helvetica Neue', sans-serif; font-weight: bold; line-height: 1; text-align: center;
}